#ignoring node_modules will reduce the repo size
# simply run npm install to install all the node modules locally
node_modules
.env
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml