.css-input {
    
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.css-input:hover {
    border: 1px solid #45a049;
  }
